{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Iris Predictor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  </head>
  <body>
      <div class="block">
          <section class="hero is-dark is-bold">
              <div class="hero-body">
                  <div class="container has-text-centered">
                      <h1 class="title">Iris Species Predictor</h1>
                      <h2 class="subtitle">ML Web App</h2>
                  </div><br>
                  <div class="container has-text-centered">
                        <a href="{{url_for('index')}}" class="button is-info is-rounded has-text-centered">Reset</a>
                        <a href="{{url_for('preview')}}" class="button is-link is-rounded has-text-centered">View Dataset</a>
                  </div>

              </div>
          </section>
      </div>
      <article class="message is-primary">
          <div class="message-header">
              <p>Inputs</p>
          </div>
          <div class="message-body">
            <div class="card">
                <!--
                <header class="card-header">
                    <p class="card-header-title is-centered">Inputs</p>
                </header> -->
                <div class="card-content">
                    <form action="{{ url_for('analyze') }}" method="POST">
                        <div class="columns">
                            <div class="column">
                                    <div class="field">
                                            <label for="Sepal Length" class="label">Sepal Length</label>
                                            <div class="control">
                                                <input type="number" name="sepal_length" class="input" placeholder="Number between 4 and 8" min="4" max="8" step="0.1">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label for="Sepal Width" class="label">Sepal Width</label>
                                            <div class="control">
                                                <input type="number" name="sepal_width" class="input" placeholder="Number between 2 and 5" min="2" max="5" step="0.1">
                                            </div>
                                        </div>
                            </div>
                            <div class="column">
                                    <div class="field">
                                            <label for="Petal Length" class="label">Petal Length</label>
                                            <div class="control">
                                                <input type="number" name="petal_length" class="input" placeholder="Number between 0 and 7" min="0" max="7" step="0.1">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label for="Petal Width" class="label">Petal Width</label>
                                            <div class="control">
                                                <input type="number" name="petal_width" class="input" placeholder="Number between 0 and 3" min="0" max="3" step="0.1">
                                            </div>
                                        </div>
                            </div>
                        </div>


                      <br>
                      <div class="container has-text-centered">
                            <div class="field">
                                    <label for="role" class="label">Select Model</label>
                                    <div class="control">
                                        <div class="container has-text-centered">
                                                <div class="select is-primary">
                                                        <select name="model_choice" id="role">
                                                            <option value="Logistic">Logistic Regression</option>
                                                            <option value="KNN">K Nearest Neighbours</option>
                                                            <option value="SVM">SVM</option>
                                                        </select>
                                                    </div>
                                        </div>

                                    </div>
                                </div>
                                <br>
                                <button class="button is-primary" type="submit">Predict</button>
                                <button class="button" type="reset">Clear</button>
                      </div>

                    </form>
                </div>
            </div>
          </div>
      </article>

      <footer class="footer">
            <div class="content has-text-centered">
              <p>
                <strong>Anmol Goel | 2018 </strong>.<br>
                <a href="https://github.com/agoel00">Github</a> | <a href="https://anmolgoel.com">Portfolio</a>.
              </p>
            </div>
          </footer>
  </body>
</html>

{% endblock %}